<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="DIRECTORY" value="MDANDERSON"/>
    <add key="USB_SCANNER_CONFIG" value="19200,18944"/>
    <add key="CONNECTION_TEST" value="Server=SPIDRPRDDB;Database=HelixWorkflowCert;User Id=HelixWorkflow_ServiceAccount;Password=k&amp;ye_j2ZzmE4^e;"/>
    <add key="CONNECTION_PROD" value="Server=LABPSQL2;Database=HelixWorkflow;User Id=HelixWorkflow_ServiceAccount;Password=k&amp;ye_j2ZzmE4^e;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>

